# Ignore all log and backup folders for Find-UnknownSID
Logs/
Backup/

# Ignore test results and test logs
Tests/Scripts/
Tests/Logs/
Tests/Results/

# Ignore files
OrphanedSID_Generation*
Test-Debug.ps1
test*.xml

# Make sure these unit tests aren't ignored
!Tests/Unit/Private/Backup